@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #1d1b1c;
  --secondary-color: #fcfbfc;
  --third-color: #cf323e;  
  --fourth-color: #3a3a3a;
 
  --dark-third-color: rgb(160, 24, 41, 0.6); 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
i {
  display: block;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

i {
  pointer-events: none;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--purple-navy);
  font-size: 1.6rem;
}

/*---------------------*\
¦-----STICKY-HEADER-----¦
\*---------------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.bottom-mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

.header-btn {
  display: none;
}

/*-----------------*\
¦-----CONTAINER-----¦
\*-----------------*/

.container {
  padding-inline: 15px;
}

.bottom-header > .container {
  padding-inline: 0;
}

/*-----------------*\
¦-----HAMBURGER-----¦
\*-----------------*/

.bar {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: var(--secondary-color);
  transition: 0.25s;
  flex-basis: 30px;
}

.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 3px);
}

.cross .bar:nth-child(2) {
  opacity: 0;
}

.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -3px);
}

/*-----------------*\
¦--------LOGO-------¦
\*-----------------*/

.brand {
  width: 150px;
}

/*-----------------*\
¦----PHONE-ICON-----¦
\*-----------------*/

.phone-icon {
  font-size: 20px;
  flex-basis: 30px;
  text-align: center;
  color: var(--secondary-color);
}

.book-icon {
  font-size: 20px;
  flex-basis: 30px;
  text-align: center;
  color: var(--secondary-color);
  display: none;
}

/*-----------------*\
¦-----TOP-HEADER----¦
\*-----------------*/

.top-header {
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------------------*\
¦-BOTTOM-MOBILE-MENU-¦
\*------------------*/

.bottom-mobile-menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 99px;
  left: -999px;
  width: 100%;
  min-height: 100%;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s;
}

.bottom-mobile-menu.active {
  transform: translateX(999px);
  visibility: visible;
  transition: 0.5s;
}

/*---------------------------*\
¦---BOTTOM-LINE-MOBILE-MENU---¦
\*---------------------------*/

.navbar-list-item:not(:last-child),
.navbar-list-item:nth-of-type(7) {
  border-bottom: 0.1px solid var(--fourth-color);
}


/*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/
.navbar-list-item a {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  padding-block: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-inline: 15px;
}

.navbar-list-item i {
  width: 30px;
}
/*------------------------------*\
¦---NAVBAR-LINK-HOVER-&-ACTIVE---¦
\*------------------------------*/
.navbar-list-item:hover {
  background-color: var(--third-color);
}
.navbar-list-item.active {
  background-color: var(--third-color);
}


/*------------------------*\
¦---SECTION-CLASS-STYLES---¦
\*------------------------*/
main{
  margin-top: 50px;
}

section{
  height: 100vh;
  background-color: #cf323e;
  color: #fcfbfc;
  font-size: 40px;
  padding-inline: 25px;
  padding-block: 25px;
  text-align: center;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

@media(min-width: 431px){
.phone-icon{
  display: none;
}

.book-icon {display: block;}
}



@media (min-width: 1000px) {

/*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/
.top-header.container {
  margin: 0 auto;
}
body > header > div > div > button:nth-child(5){
/* this pushes button to align left */

/* margin-left: auto; */ 

order: -1;
}
 
  .bottom-header > .container {
    width: auto;
    margin: 0 auto;
  }

/*-----------------*\
¦---HEADER-BUTTON---¦
\*-----------------*/
  .header-btn {
    display: block;
  }

  .header-btn{
  color: var(--secondary-color);
  background-color: var(--third-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  flex-basis: 150px;
  letter-spacing: 1px;
  }

  .btn-2{
    /* margin-right: 20px; */
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

 

/*----------------*\
¦---MOBILE-ICONS---¦
\*----------------*/
  .phone-icon,
  .book-icon,
  .hamburger {
    display: none;
  }

/*---------------------*\
¦---MOBILE-MENU-RESET---¦
\*---------------------*/
  .bottom-mobile-menu {
    all: unset; /* resets all property */
    /* margin-inline-start: auto; */
    /* background-color: var(--third-color); */
  }

/*-----------------------------*\
¦---MOBILE-MENU-BOTTOM-BORDER---¦
\*-----------------------------*/
  .navbar-list-item:not(:last-child),
  .navbar-list-item:nth-of-type(7) {
    border-bottom: none;
  }

/*-------------------------*\
¦---DESKTOP-BOTTOM-HEADER---¦
\*-------------------------*/
  .bottom-header {
    background-color: var(--third-color);
    box-shadow: 0 10px 30px -10px hsla(0, 0%, 0%, 0.3);
  }

/*--------------------*\
¦---NAVBAR-LIST-FLEX---¦
\*--------------------*/
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/  

.navbar-list-item {
flex: 1;  
padding: 5px;
text-align: center;
}

/*------------------------------*\
¦---NAVBAR-LINK-HOVER-&-ACTIVE---¦
\*------------------------------*/
.navbar-list-item:hover {
  background-color: var(--dark-third-color);
}
.navbar-list-item.active {
  background-color: var(--secondary-color);
  
}


.navbar-list-item a.active{
    color: var(--primary-color);
   
  }
.navbar-list-item a{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight:100;
    padding: 0;
    padding-block: 5px;
  }


.navbar-list-item i {
    width: auto;
  }


}
@media (min-width: 1440px) {

/*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/

.top-header.container {
  margin: 0 auto;
}

.bottom-header > .container {
  width: auto;
  margin: 0 auto;
}

/*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/  

  .navbar-list-item i {
    width: auto;
  }


}

@media (min-width: 1800px) {

/*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/
  .container{
    max-width: 1800px;
    margin: 0 auto;
  }

  .bottom-header > .container {
    max-width: 1800px;
    margin: 0 auto;
  }


/*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/  

  .navbar-list-item i {
    width: auto;
  }


}

