@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #1d1b1c;
  --secondary-color: #fcfbfc;
  --third-color: #ec1d23;
  --fourth-color: #3a3a3a;

  --mid-third-color: rgb(186, 44, 55);
  --mid-dark-third-color: rgb(161, 38, 48);
  --dark-third-color: rgb(160, 24, 41, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------*\
¦-----ELEMENT-STYLES-----¦
\*----------------------*/

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
i {
  display: block;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

i {
  pointer-events: none;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--purple-navy);
  font-size: 1.6rem;
}

/* Remove later */
main {
  /* margin-top: 90px; */
}

section {
  height: 100vh;
}

/*-------------------------*\
¦-----WEBSKIT-SCROLLBAR-----¦
\*-------------------------*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

/*---------------------*\
¦-----HOVER-CLASSES-----¦
\*---------------------*/

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mid-third-color);
}

.footer-icons li:hover {
  background-color: var(--third-color);
}

.grid-item ul a:hover {
  color: var(--third-color);
}

.hero-btn:hover {
  background-color: var(--mid-third-color);
}

.navbar-list-item:hover {
  background-color: var(--third-color);
}

.footer-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/*-----------------------*\
¦-----ACTIVE-CLASSES-----¦
\*-----------------------*/

.bottom-mobile-menu.active {
  transform: translateX(999px);
  visibility: visible;
  transition: 0.5s;
}

.overlay.active {
  opacity: 1;
}

.navbar-list-item.active {
  background-color: var(--third-color);
}

/*----------------------------*\
¦-----STICKY-MOBILE-HEADER-----¦
\*----------------------------*/

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: all 300ms ease-in-out;
}

.bottom-header {
  all: unset;
}

/*-------------------------------*\
¦---SCROLLING-MOBILE-HEADER-JS----¦
\*-------------------------------*/

.scroll-down .top-header {
  transform: translate3d(0, -100%, 0);
}
.scroll-up .top-header {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.3);
}

.no-scroll {
  overflow: hidden;
}

/*----------------*\
¦------OVERLAY-----¦
\*----------------*/

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease;
}

/*----------------*\
¦----HEADER-BTN----¦
\*----------------*/
.buttons {
  display: none;
}

/*-----------------*\
¦-----CONTAINER-----¦
\*-----------------*/

.container {
  padding-inline: 15px;
}

.bottom-header > .container {
  padding-inline: 0;
}

/*-----------------*\
¦-----HAMBURGER-----¦
\*-----------------*/

.bar {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: var(--secondary-color);
  transition: 0.25s;
  flex-basis: 30px;
}

.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 3px);
}

.cross .bar:nth-child(2) {
  opacity: 0;
}

.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -3px);
}

/*-----------------*\
¦--------LOGO-------¦
\*-----------------*/

.brand {
  width: 200px;
  padding-block: 10px;
  margin-left: auto;
}

/*-----------------*\
¦----PHONE-ICON-----¦
\*-----------------*/

.phone-icon {
  font-size: 20px;
  flex-basis: 30px;
  text-align: center;
  color: var(--secondary-color);
  z-index: 200;
}

.book-icon {
  font-size: 20px;
  flex-basis: 30px;
  text-align: center;
  color: var(--secondary-color);
  display: none;
}

/*-----------------*\
¦-----TOP-HEADER----¦
\*-----------------*/

.top-header {
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  padding-block: 5px;
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------------------*\
¦-BOTTOM-MOBILE-MENU-¦
\*------------------*/

.bottom-mobile-menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 90px;
  left: -999px;
  width: 100%;
  min-height: 100%;
  visibility: hidden;
  z-index: 6;
  transition: 0.25s;
}

/*---------------------------*\
¦---BOTTOM-LINE-MOBILE-MENU---¦
\*---------------------------*/

.navbar-list-item {
  border-bottom: 0.1px solid var(--fourth-color);
}

/*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/
.navbar-list-item a {
  color: var(--secondary-color);
  font-size: 21px;
  font-weight: 500;
  padding-block: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-inline: 15px;
}

.navbar-list-item i {
  width: 30px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*---------------------------*\
¦---SLIDING-CAROUSEL-IMAGES---¦
\*---------------------------*/

.carousel {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;
}

/*----------------------*\
¦---CAROUSEL-LIST-ITEM---¦
\*----------------------*/
.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

/*--------------------------*\
¦---CAROUSEL-LIST-ITEM-IMG---¦
\*--------------------------*/
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65%;
}

/*------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT---¦
\*------------------------------*/
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}
.carousel .list .item .content-container {
  background-color: rgb(29, 27, 28, 0.7);
  border-radius: 20px;
  padding: 15px;
}

/*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE---¦
\*------------------------------------*/
.carousel .list .item .content .title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
}

/*------------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE-AFTER---¦
\*------------------------------------------*/
.carousel .list .item .content .title::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 7%; /* Set left to 50% */
  transform: translateX(-50%); /* Center the pseudo-element */
  width: 227px;
  max-width: 227px;
  height: 5px;
  transform: skew(-12deg);
  background: var(--third-color);
  z-index: 1;
  box-shadow: 0 5px 10px #000;
}

/*----------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-SUB-TITLE---¦
\*----------------------------------------*/
.carousel .list .item .content .sub-title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

/*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TOPIC---¦
\*------------------------------------*/
.carousel .list .item .content .topic {
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
}

/*--------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-A-&-DOT---¦
\*--------------------------------------*/
.carousel .list .item .content a {
  color: var(--secondary-color);
}

.fa-location-dot {
  color: var(--third-color);
}

/*----------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-DES---¦
\*----------------------------------*/
.carousel .list .item .content .des {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
  /* padding-right: 30%; */
  text-align: center;
}

/*------------------------*\
¦---CAROUSEL-BTN-CLASSES---¦
\*------------------------*/

.carousel-cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.btn {
  font-size: 15px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--third-color);
  padding: 10px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 3px;
  border-radius: 10px;
}

.btn-2 {
  font-size: 15px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  padding: 10px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 3px;
  border-radius: 10px;
}

/*------------------------------*\
¦---CAROUSEL-THUMBNAIL-CLASSES---¦
\*------------------------------*/

.thumbnail {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: max-content;
  z-index: 2;
  display: flex;
  gap: 20px;
  padding-inline-start: 15px;
}
.thumbnail .item {
  width: 100px;
  height: 135px;
  flex-shrink: 0;
  object-fit: contain;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.thumbnail .item img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65%;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: var(--secondary-color);
}
.thumbnail .item .content .title {
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  color: var(--secondary-color);
}
/*----------*\
¦---ARROWS---¦
\*----------*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Make sure the .arrows div takes the full width */
  /* max-width: ; */
  padding-inline: 3px;
}

.arrows button {
  /* Add additional styling for your buttons if necessary */
  margin: 0 10px; /* Adjust the margin to control the space between buttons */
}

.arrows .button {
  background-color: rgb(0, 0, 0, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 100;
  font-family: monospace;
}
.arrows .button:hover {
  background-color: var(--secondary-color);
  color: rgb(0, 0, 0, 0.8);
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .content-container,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .sub-title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .carousel-cta-btn {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .content-container {
  animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .sub-title {
  animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.8s;
}
.carousel .list .item:nth-child(1) .des {
  animation-delay: 2s;
}
.carousel .list .item:nth-child(1) .carousel-cta-btn {
  animation-delay: 2.2s;
}

/* effect next click */

.carousel.next .list .item:nth-child(1) img {
  width: 100px;
  height: 135px;
  position: absolute;
  bottom: 35px;
  left: 15px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 100px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(100px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* effect prev click */
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 100px;
    height: 135px;
    border-radius: 10px;
    left: 15px;
    bottom: 35px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .content-container,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .sub-title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .carousel-cta-btn {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows .button,
.carousel.prev .arrows .button {
  pointer-events: none;
}

.time {
  width: 0%;
  height: 3px;
  background-color: var(--third-color);
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
  to {
    width: 0;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*----------*\
¦---FOOTER---¦
\*----------*/

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-block: 20px;
  text-align: center;
  background-image: url("../images/footer-bng.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/*-----------------------*\
¦---FOOTER-FLEX-WRAPPER---¦
\*-----------------------*/
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/*-----------------------------------*\
¦---FOOTER-SELECTION-TYPE-CHILD-ONE---¦
\*-----------------------------------*/

.footer-section:nth-of-type(1) {
  padding-block: 60px;
  position: relative;
  z-index: 1;
}

/*----------------------*\
¦---H2-FOOTER-TITLE-LG---¦
\*----------------------*/
.h2-footer-title-lg {
  font-size: 5rem;
  font-weight: 100;
}
/*--------------*\
¦---FOOTER-BTN---¦
\*--------------*/
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--third-color);
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  margin: auto;
  width: 280px;
  margin-top: 30px;
  position: relative;
  z-index: 4;
}

/*--------------------*\
¦---FOOTER-BTN-ICONS---¦
\*--------------------*/
.footer-btn i {
  margin-left: auto;
}

/*--------------------*\
¦---FOOTER-BTN-ICONS---¦
\*--------------------*/
.king-overlay {
  background-image: url("../images/Untitled-4.png");
}

/*-----------------------*\
¦---FOOTER-H2-HR-STYLES---¦
\*-----------------------*/
.footer-wrapper > hr {
  width: 100%;
  margin-bottom: 50px;
  background-color: var(--secondary-color);
}

/*-------------------------------*\
¦---FOOTER-LINKS-GRID-CONTAINER---¦
\*-------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  text-align: center;
  max-width: 335px;
  margin: 0 auto;
}
.grid-container h2 {
  position: relative;
  z-index: 1;
}

/*-----------------------------*\
¦---FOOTER-H2-AFTER-UNDERLINE---¦
\*-----------------------------*/
.h2-after-1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 50%;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--third-color);
  z-index: -1;
}
.h2-after-2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 105%;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--third-color);
  z-index: -1;
}
.h2-after-3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 60%;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--third-color);
  z-index: -1;
}
.h2-after-4::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 75%;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--third-color);
  z-index: -1;
}

.h2-footer-title:nth-of-type(2),
.h2-footer-title:nth-of-type(3)::after {
  content: "";
  width: 100%;
}

/*----------------------*\
¦---FOOTER-LINKS-COLOR---¦
\*----------------------*/
.grid-item ul a {
  text-decoration: none;
  color: var(--secondary-color);
}

/*-------------------------*\
¦---H2-FOOTER-TITLE-LINKS---¦
\*-------------------------*/
.h2-footer-title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

/*-----------*\
¦---PADDING---¦
\*-----------*/
.pt-15 {
  padding-top: 15px;
}
.pt-3 {
  padding-block: 3px;
}

/*---------------------------*\
¦---FOOTER-TEXT-MUTED-CLASS---¦
\*---------------------------*/
.text-muted {
  opacity: 0.8;
}

/*-----------------------------------------------------*\
¦---FOOTER-LOGO/BRAND-IMAGES-FLEX-CONTAINER-&-PADDING---¦
\*-----------------------------------------------------*/
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 15px;
  padding-inline: 10px;
}

/*------------------*\
¦---FOOTER-IMG-KOC---¦
\*------------------*/
.footer-img {
  width: 140px;
}

/*---------------------*\
¦---FOOTER-IMG-SQUIRE---¦
\*---------------------*/
.footer-img-squire {
  width: 130px;
  padding: 15px;
  padding-bottom: 10px;
}

/*-------------------------------------*\
¦---FOOTER-ICONS-CICRLE-FLEX-CONTAINER--¦
\*-------------------------------------*/
.footer-icons {
  margin-block: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*------------------*\
¦---FOOTER-ICONS-I---¦
\*------------------*/
.footer-icons i {
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 4px;
}

/*---------------------------*\
¦---FOOTER-ICONS-LIST-ITEMS---¦
\*---------------------------*/

.footer-icons li {
  background-color: var(--fourth-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

@media (min-width: 390px) {
  /*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE---¦
\*------------------------------------*/
  .carousel .list .item .content .title {
    font-size: 50px;
  }

  /*------------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE-AFTER---¦
\*------------------------------------------*/
  .carousel .list .item .content .title::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0; /* Set left to 50% */
    transform: translateX(-50%); /* Center the pseudo-element */
    width: 267px;
    max-width: 267px;
    height: 5px;
    transform: skew(-12deg);
    background: var(--third-color);
    z-index: 1;
    box-shadow: 0 5px 10px #000;
  }

  /*----------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-SUB-TITLE---¦
\*----------------------------------------*/
  .carousel .list .item .content .sub-title {
    font-size: 25px;
  }

  /*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TOPIC---¦
\*------------------------------------*/
  .carousel .list .item .content .topic {
    font-size: 30px;
  }

  /*----------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-DES---¦
\*----------------------------------*/
  .carousel .list .item .content .des {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    /* padding-right: 30%; */
  }

  .carousel .list .item .content-container {
    background-color: rgb(29, 27, 28, 0.7);
    border-radius: 20px;
    padding: 20px;
  }

  /*------------------------------*\
¦---CAROUSEL-THUMBNAIL-CLASSES---¦
\*------------------------------*/

  .thumbnail {
    bottom: 70px;
  }

  @keyframes outImage {
    to {
      width: 100px;
      height: 135px;
      border-radius: 10px;
      left: 15px;
      bottom: 70px;
    }
  }

  .carousel.next .list .item:nth-child(1) img {
    bottom: 70px;
  }
}

/*----------------------*\
¦----NAVBAR-ICON-SWITCH--¦
\*----------------------*/

@media (min-width: 431px) {
  /*----------------------*\
¦---REPLACE-PHONE-ICON---¦
\*----------------------*/

  .phone-icon {
    display: none;
  }

  /*----------------------*\
¦---REPLACE-PHONE-ICON---¦
\*----------------------*/

  .book-icon {
    display: block;
  }
}

/*--------------------------------------------*\
¦---LANDSCAPE-MOBILE-MENU-SCROLL-MEDIA-QUERY---¦
\*--------------------------------------------*/

@media screen and (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
  /*----------------------*\
¦---REPLACE-PHONE-ICON---¦
\*----------------------*/

  .phone-icon {
    display: block;
  }

  /*----------------------*\
¦---REPLACE-PHONE-ICON---¦
\*----------------------*/

  .book-icon {
    display: none;
  }

  /*--------------------------------*\
¦---LANDSCAPE-BOTTOM-MOBILE-MENU---¦
\*--------------------------------*/

  .bottom-mobile-menu.active {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
    max-height: 100%;
  }
}

/*----------------------*\
¦---TABLET-MEDIA-QUERY---¦
\*----------------------*/

@media (min-width: 650px) {
  /*-----------------------*\
¦---FOOTER-FLEX-WRAPPER---¦
\*-----------------------*/

  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
  }

  /*-------------------------------*\
¦---FOOTER-FLEX-ITEM-FULL-WIDTH---¦
\*-------------------------------*/

  .footer-section:nth-of-type(1) {
    flex-basis: 100%;
    text-align: center;
  }

  /*-------------------------------*\
¦---FOOTER-FLEX-ITEM-HALF-WIDTH---¦
\*-------------------------------*/

  .footer-section:nth-of-type(2) {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  /*-------------------------------*\
¦---FOOTER-FLEX-ITEM-HALF-WIDTH---¦
\*-------------------------------*/

  .footer-section:nth-of-type(3) {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  /*-----------------------------*\
¦---FOOTER-H2-AFTER-UNDERLINE---¦
\*-----------------------------*/
  .h2-after-1::after {
    width: 35%;
  }
  .h2-after-2::after {
    width: 75%;
  }
  .h2-after-3::after {
    width: 40%;
  }
  .h2-after-4::after {
    width: 50%;
  }

  /*------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT---¦
\*------------------------------*/
  .carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 550px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  }

  /*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE---¦
\*------------------------------------*/
  .carousel .list .item .content .title {
    font-size: 70px;
  }

  /*------------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TITLE-AFTER---¦
\*------------------------------------------*/
  .carousel .list .item .content .title::after {
    content: "";
    top: 70px;
    left: 167px;
    width: 350px;
    max-width: 390px;
  }

  /*----------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-SUB-TITLE---¦
\*----------------------------------------*/
  .carousel .list .item .content .sub-title {
    font-size: 35px;
  }

  /*------------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-TOPIC---¦
\*------------------------------------*/
  .carousel .list .item .content .topic {
    font-size: 40px;
  }

  /*----------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT-DES---¦
\*----------------------------------*/
  .carousel .list .item .content .des {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    /* padding-right: 30%; */
  }

  /*------------------------*\
¦---CAROUSEL-BTN-CLASSES---¦
\*------------------------*/

  .carousel-cta-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  /*------------------------------*\
¦---CAROUSEL-THUMBNAIL-CLASSES---¦
\*------------------------------*/

  /* .thumbnail .item {
  width: 160px;
  height: 220px;
  flex-shrink: 0;
  object-fit: contain;
  position: relative;
}

@keyframes showThumbnail {
  to {
    width: 160px;
  }
}

@keyframes outImage {
  to {
    width: 160px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 40px;
  }
} */
}

/* Laptop / Desktop Screen Size */
@media (min-width: 1000px) {
  /*--------*\
¦---HERO---¦
\*--------*/
  .hero {
    background-position: center right;
  }
  /*-----------------------------*\
¦-----STICKY-DESKTOP-HEADER-----¦
\*-----------------------------*/

  .bottom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all 300ms ease-in-out;
    top: 90px;
    background-color: var(--third-color);
  }

  /*--------------------------------*\
¦---SCROLLING-DESKTOP-HEADER-JS----¦
\*--------------------------------*/

  .scroll-down .top-header {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 15px 30px -10px hsla(0, 0%, 0%, 1);
  }

  .scroll-up .top-header {
    transform: translate3d(0, 0, 0);
    box-shadow: none;
  }

  .scroll-down .bottom-header {
    transform: translate3d(0, -100%, 0);
  }

  .scroll-up .bottom-header {
    box-shadow: 0 15px 30px -10px hsla(0, 0%, 0%, 1);
  }

  /*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/

  .top-header.container {
    margin: 0 auto;
  }

  .bottom-header > .container {
    width: auto;
    margin: 0 auto;
  }

  #order {
    /* this pushes button to align left */
    /* margin-left: auto; */
    order: -1;
  }

  .logo {
    margin: 0 auto;
  }
  /*----------------*\
¦----HEADER-BTN----¦
\*----------------*/
  .buttons {
    display: block;
  }

  .header-btn {
    color: var(--secondary-color);
    background-color: var(--third-color);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
    letter-spacing: 1px;
  }

  .btn-2 {
    /* margin-right: 20px; */
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  /*---------------------*\
¦-----HOVER-CLASSES-----¦
\*---------------------*/

  .header-btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  .btn-2:hover {
    /* margin-right: 20px; */
    background-color: var(--third-color);
    color: var(--secondary-color);
  }

  /*----------------*\
¦---MOBILE-ICONS---¦
\*----------------*/
  .phone-icon,
  .book-icon,
  .hamburger {
    display: none;
  }

  /*---------------------*\
¦---MOBILE-MENU-RESET---¦
\*---------------------*/
  .bottom-mobile-menu {
    all: unset; /* resets all property */
    /* margin-inline-start: auto; */
  }

  /*-----------------------------*\
¦---MOBILE-MENU-BOTTOM-BORDER---¦
\*-----------------------------*/
  .navbar-list-item {
    border-bottom: none;
  }

  /*--------------------*\
¦---NAVBAR-LIST-FLEX---¦
\*--------------------*/
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0px;
  }

  /*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/

  .navbar-list-item:hover {
    background-color: var(--mid-third-color);
  }

  .navbar-list-item {
    flex: 1;
    padding: 1px;
    text-align: center;
  }

  .navbar-list-item a {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 100;
    padding: 0;
    padding-block: 5px;
  }

  .navbar-list-item i {
    width: auto;
  }

  .navbar-list-item.active {
    background-color: var(--secondary-color);
  }

  .navbar-list-item a.active {
    color: var(--primary-color);
  }
}

@media (min-width: 1024px) {
  .footer-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }

  /*------------------------------*\
¦---CAROUSEL-LIST-ITEM-CONTENT---¦
\*------------------------------*/
  .carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 550px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  }
}

/* Large Laptop / Desktop Screen Size */
@media (min-width: 1200px) {
  .footer-wrapper {
    max-width: 1640px;
    margin: 0 auto;
  }
  .footer-wrapper hr {
    display: none;
  }
  .footer-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer-section:nth-of-type(1) {
    flex-basis: 50%;
    text-align: center;
    order: 3;
    padding-block: none;
    padding-top: 4px;
    position: relative;
    overflow: hidden;
  }
  .footer-section:nth-of-type(2) {
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
  }
  .footer-section:nth-of-type(3) {
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
  }

  .footer-btn {
    margin: unset;
    margin-left: auto;
  }

  .h2-footer-title-lg {
    text-align: right;
  }

  .footer-section:nth-of-type(1) {
    flex-basis: 50%;
    text-align: center;
    order: 3;
    padding-block: none;
    padding-top: 4px;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
  }

  .king-overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 29%;
    transform: translate(0%, 0%);
    background-image: url("../images/footer-bng-crown-two.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;

    /*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/
    .footer-wrapper .container {
      padding-inline: 0;
    }

    .top-header.container {
      margin: 0 auto;
    }

    .bottom-header > .container {
      width: auto;
      margin: 0 auto;
    }

    /*--------------------*\
¦---NAVBAR-LIST-ITEM---¦
\*--------------------*/

    .navbar-list-item i {
      width: auto;
    }
  }
}
/*  Deskstop Screen Size */
@media (min-width: 1800px) {
  /*--------------------*\
¦---CONTAINER-SIZING---¦
\*--------------------*/

  .top-header > .container {
    max-width: 1800px;
    margin: 0 auto;
  }

  .bottom-header > .container {
    max-width: 1800px;
    margin: 0 auto;
  }

  /*--------*\
¦---HERO---¦
\*--------*/
  .hero-btn {
    font-size: 50px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 20px 60px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
